# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_REV1350

#CONFIG_ZML_BLE_EXPERIMENTAL_FEATURES=y
#CONFIG_ZMK_BLE_PASSKEY_ENTRY=y

config ZMK_KEYBOARD_NAME
    default "rev1350"

config ZMK_BLE_PASSKEY_ENTRY
		default "y"

endif
